<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisedu.crowd.dao.xtgl.XtcsbInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wisedu.crowd.entity.xtgl.XtcsbInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="CSMC" property="csmc" jdbcType="VARCHAR" />
    <result column="CSZ" property="csz" jdbcType="VARCHAR" />
    <result column="CSSM" property="cssm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, CSMC, CSZ, CSSM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_crowd_xtgl_xtcsb
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_crowd_xtgl_xtcsb
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wisedu.crowd.entity.xtgl.XtcsbInfo" >
    insert into t_crowd_xtgl_xtcsb (WID, CSMC, CSZ, 
      CSSM)
    values (#{wid,jdbcType=VARCHAR}, #{csmc,jdbcType=VARCHAR}, #{csz,jdbcType=VARCHAR}, 
      #{cssm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisedu.crowd.entity.xtgl.XtcsbInfo" >
    insert into t_crowd_xtgl_xtcsb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="csmc != null" >
        CSMC,
      </if>
      <if test="csz != null" >
        CSZ,
      </if>
      <if test="cssm != null" >
        CSSM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="csmc != null" >
        #{csmc,jdbcType=VARCHAR},
      </if>
      <if test="csz != null" >
        #{csz,jdbcType=VARCHAR},
      </if>
      <if test="cssm != null" >
        #{cssm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisedu.crowd.entity.xtgl.XtcsbInfo" >
    update t_crowd_xtgl_xtcsb
    <set >
      <if test="csmc != null" >
        CSMC = #{csmc,jdbcType=VARCHAR},
      </if>
      <if test="csz != null" >
        CSZ = #{csz,jdbcType=VARCHAR},
      </if>
      <if test="cssm != null" >
        CSSM = #{cssm,jdbcType=VARCHAR},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisedu.crowd.entity.xtgl.XtcsbInfo" >
    update t_crowd_xtgl_xtcsb
    set CSMC = #{csmc,jdbcType=VARCHAR},
      CSZ = #{csz,jdbcType=VARCHAR},
      CSSM = #{cssm,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>