<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:property-placeholder location="classpath:sms.properties" ignore-unresolvable="true"/>
    <bean id="smsSendMessage" class="com.wisedu.crowd.service.messages.impl.SmsSendMessageImpl">  
        <property name="apiKey" value="${api.key}"></property>
        <!-- 获取用户账户信息地址 -->
        <property name="uriGetUserInfo" value="${sms.uriGetUserInfo}"></property>  
        <!-- 智能匹配模板发送接口的http地址 -->
        <property name="uriSendSms" value="${sms.uriSendSms}"></property>
        <!-- 模板发送接口的http地址 -->
        <property name="uriTplSendSms" value="${sms.uriTplSendSms}"></property>
        <!--发送语音验证码接口的http地址  --> 
        <property name="uriSendVoice" value="${sms.uriSendVoice}"></property> 
        <property name="encoding" value="${sms.encoding}"></property>
    </bean>

</beans>
