<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisedu.crowd.dao.system.DataCodeMapper">
  <resultMap id="BaseResultMap" type="com.wisedu.crowd.entity.system.DataCode">
    <id column="WID" jdbcType="VARCHAR" property="wid" />
    <result column="LBDM" jdbcType="VARCHAR" property="lbdm" />
    <result column="LBMC" jdbcType="VARCHAR" property="lbmc" />
    <result column="SFSY" jdbcType="INTEGER" property="sfsy" />
    <result column="PX" jdbcType="DECIMAL" property="px" />
  </resultMap>
  <sql id="Base_Column_List">
    WID, LBDM, LBMC, SFSY, PX
  </sql>
 
      <select id="selectAllByTable" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from ${tableName}
     order by PX ASC
  </select>
 
</mapper>