<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisedu.crowd.dao.statics.XqfzfInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wisedu.crowd.entity.statics.XqfzfInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="XQFID" property="xqfid" jdbcType="VARCHAR" />
    <result column="XQFXM" property="xqfxm" jdbcType="VARCHAR" />
    <result column="MONTH" property="month" jdbcType="VARCHAR" />
    <result column="SHDF" property="shdf" jdbcType="DECIMAL" />
    <result column="YSDF" property="ysdf" jdbcType="DECIMAL" />
    <result column="PJDF" property="pjdf" jdbcType="DECIMAL" />
    <result column="ZJBUGDF" property="zjbugdf" jdbcType="DECIMAL" />
    <result column="ZJXQDF" property="zjxqdf" jdbcType="DECIMAL" />
    <result column="ZDGBDF" property="zdgbdf" jdbcType="DECIMAL" />
    <result column="QXDF" property="qxdf" jdbcType="DECIMAL" />
    <result column="SCORE" property="score" jdbcType="DECIMAL" />
    <result column="FBRWS" property="fbrws" jdbcType="DECIMAL" />
    <result column="JE" property="je" jdbcType="DECIMAL" />
    <result column="YJBM" property="yjbm" jdbcType="VARCHAR" />
    <result column="EJBM" property="ejbm" jdbcType="VARCHAR" />
    <result column="SSBM" property="ssbm" jdbcType="VARCHAR" />
    <result column="GH" property="gh" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, XQFID, XQFXM, MONTH, SHDF, YSDF, PJDF, ZJBUGDF, ZJXQDF, ZDGBDF, QXDF, SCORE, 
    FBRWS, JE, YJBM, EJBM, SSBM, GH
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_crowd_static_xqfdf_total
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_crowd_static_xqfdf_total
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wisedu.crowd.entity.statics.XqfzfInfo" >
    insert into t_crowd_static_xqfdf_total (WID, XQFID, XQFXM, 
      MONTH, SHDF, YSDF, 
      PJDF, ZJBUGDF, ZJXQDF, 
      ZDGBDF, QXDF, SCORE, 
      FBRWS, JE, YJBM, EJBM, 
      SSBM, GH)
    values (#{wid,jdbcType=VARCHAR}, #{xqfid,jdbcType=VARCHAR}, #{xqfxm,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{shdf,jdbcType=DECIMAL}, #{ysdf,jdbcType=DECIMAL}, 
      #{pjdf,jdbcType=DECIMAL}, #{zjbugdf,jdbcType=DECIMAL}, #{zjxqdf,jdbcType=DECIMAL}, 
      #{zdgbdf,jdbcType=DECIMAL}, #{qxdf,jdbcType=DECIMAL}, #{score,jdbcType=DECIMAL}, 
      #{fbrws,jdbcType=DECIMAL}, #{je,jdbcType=DECIMAL}, #{yjbm,jdbcType=VARCHAR}, #{ejbm,jdbcType=VARCHAR}, 
      #{ssbm,jdbcType=VARCHAR}, #{gh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisedu.crowd.entity.statics.XqfzfInfo" >
    insert into t_crowd_static_xqfdf_total
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="xqfid != null" >
        XQFID,
      </if>
      <if test="xqfxm != null" >
        XQFXM,
      </if>
      <if test="month != null" >
        MONTH,
      </if>
      <if test="shdf != null" >
        SHDF,
      </if>
      <if test="ysdf != null" >
        YSDF,
      </if>
      <if test="pjdf != null" >
        PJDF,
      </if>
      <if test="zjbugdf != null" >
        ZJBUGDF,
      </if>
      <if test="zjxqdf != null" >
        ZJXQDF,
      </if>
      <if test="zdgbdf != null" >
        ZDGBDF,
      </if>
      <if test="qxdf != null" >
        QXDF,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
      <if test="fbrws != null" >
        FBRWS,
      </if>
      <if test="je != null" >
        JE,
      </if>
      <if test="yjbm != null" >
        YJBM,
      </if>
      <if test="ejbm != null" >
        EJBM,
      </if>
      <if test="ssbm != null" >
        SSBM,
      </if>
      <if test="gh != null" >
        GH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="xqfid != null" >
        #{xqfid,jdbcType=VARCHAR},
      </if>
      <if test="xqfxm != null" >
        #{xqfxm,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="shdf != null" >
        #{shdf,jdbcType=DECIMAL},
      </if>
      <if test="ysdf != null" >
        #{ysdf,jdbcType=DECIMAL},
      </if>
      <if test="pjdf != null" >
        #{pjdf,jdbcType=DECIMAL},
      </if>
      <if test="zjbugdf != null" >
        #{zjbugdf,jdbcType=DECIMAL},
      </if>
      <if test="zjxqdf != null" >
        #{zjxqdf,jdbcType=DECIMAL},
      </if>
      <if test="zdgbdf != null" >
        #{zdgbdf,jdbcType=DECIMAL},
      </if>
      <if test="qxdf != null" >
        #{qxdf,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="fbrws != null" >
        #{fbrws,jdbcType=DECIMAL},
      </if>
      <if test="je != null" >
        #{je,jdbcType=DECIMAL},
      </if>
      <if test="yjbm != null" >
        #{yjbm,jdbcType=VARCHAR},
      </if>
      <if test="ejbm != null" >
        #{ejbm,jdbcType=VARCHAR},
      </if>
      <if test="ssbm != null" >
        #{ssbm,jdbcType=VARCHAR},
      </if>
      <if test="gh != null" >
        #{gh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisedu.crowd.entity.statics.XqfzfInfo" >
    update t_crowd_static_xqfdf_total
    <set >
      <if test="xqfid != null" >
        XQFID = #{xqfid,jdbcType=VARCHAR},
      </if>
      <if test="xqfxm != null" >
        XQFXM = #{xqfxm,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        MONTH = #{month,jdbcType=VARCHAR},
      </if>
      <if test="shdf != null" >
        SHDF = #{shdf,jdbcType=DECIMAL},
      </if>
      <if test="ysdf != null" >
        YSDF = #{ysdf,jdbcType=DECIMAL},
      </if>
      <if test="pjdf != null" >
        PJDF = #{pjdf,jdbcType=DECIMAL},
      </if>
      <if test="zjbugdf != null" >
        ZJBUGDF = #{zjbugdf,jdbcType=DECIMAL},
      </if>
      <if test="zjxqdf != null" >
        ZJXQDF = #{zjxqdf,jdbcType=DECIMAL},
      </if>
      <if test="zdgbdf != null" >
        ZDGBDF = #{zdgbdf,jdbcType=DECIMAL},
      </if>
      <if test="qxdf != null" >
        QXDF = #{qxdf,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="fbrws != null" >
        FBRWS = #{fbrws,jdbcType=DECIMAL},
      </if>
      <if test="je != null" >
        JE = #{je,jdbcType=DECIMAL},
      </if>
      <if test="yjbm != null" >
        YJBM = #{yjbm,jdbcType=VARCHAR},
      </if>
      <if test="ejbm != null" >
        EJBM = #{ejbm,jdbcType=VARCHAR},
      </if>
      <if test="ssbm != null" >
        SSBM = #{ssbm,jdbcType=VARCHAR},
      </if>
      <if test="gh != null" >
        GH = #{gh,jdbcType=VARCHAR},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisedu.crowd.entity.statics.XqfzfInfo" >
    update t_crowd_static_xqfdf_total
    set XQFID = #{xqfid,jdbcType=VARCHAR},
      XQFXM = #{xqfxm,jdbcType=VARCHAR},
      MONTH = #{month,jdbcType=VARCHAR},
      SHDF = #{shdf,jdbcType=DECIMAL},
      YSDF = #{ysdf,jdbcType=DECIMAL},
      PJDF = #{pjdf,jdbcType=DECIMAL},
      ZJBUGDF = #{zjbugdf,jdbcType=DECIMAL},
      ZJXQDF = #{zjxqdf,jdbcType=DECIMAL},
      ZDGBDF = #{zdgbdf,jdbcType=DECIMAL},
      QXDF = #{qxdf,jdbcType=DECIMAL},
      SCORE = #{score,jdbcType=DECIMAL},
      FBRWS = #{fbrws,jdbcType=DECIMAL},
      JE = #{je,jdbcType=DECIMAL},
      YJBM = #{yjbm,jdbcType=VARCHAR},
      EJBM = #{ejbm,jdbcType=VARCHAR},
      SSBM = #{ssbm,jdbcType=VARCHAR},
      GH = #{gh,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>